# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

- Python
- R
- Pandas
- Scikit-learn
- NumPy

### Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia

### Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Scikit-learn
- NumPy
- Matplotlib
- SciPy

|Data Science Tools|
|:-----------------|
|RStudio           |
|Apache Spark      |
|TensorFlow        |
|Apache Hadoop     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
a = 3
b = 4
c = 5
d = (a*b)+c
d

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = 60
z = x/y
z

3.3333333333333335

## Author
Austine